body {
  margin: 0;
  padding: 0;
  background-color: #e0f8fd;
}

.tittle {
  display: block;
  align-items: center;
  text-align: center;
  color: #04AA6D;
}

.tittle h1 {
  padding-top: 2rem;
  margin: 0;
}

.tittle p {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

.table-content {
  display: flex;
  justify-content: center;
  padding: 0.8rem 3rem;
}

th {
  text-align: center;
}

.td-no {
  width: 1rem;
  text-align: center;
}

.td-hari, .td-jawa {
  width: 2rem;
}

.td-rmdn {
  width: 7rem;
}

.td-tgl {
  width: 5rem;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 2px solid #585656;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
  }


  /* media Queries */
  /* Laptop */
  @media (max-width: 1366px) {
    html {
      font-size: 75%;
    }
  }


  /* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
  .tittle h1 {
    font-size: 1.5rem;
  }
  .tittle p {
    font-size: 1rem;
  }

  .table-content {
    font-size: 60%;
  }
}
